{% extends "FctBundle::layout.html.twig" %}

{% block content %}
    <br/>
    <center>
        <div class="text-center col-lg-4 jumbotron" style="max-width: 800px;">
            {% for class in app.session.flashbag().get('class') %}
                <div class="alert {{ class }}">
                    {% for message in app.session.flashbag().get('status') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endfor %}
            <table class="table" align="center" style="max-width: 650px;">
                <thead>
                    <tr>
                        <th colspan="3" style="color:white;"><h1><i class="fas fa-briefcase"></i> Empresas</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td colspan="3">
                            <div align="right" style="width: 100%">
                                <div style="width: 210px;">
                                    <form class="form-inline">
                                        <label class="mr-sm-2 text-dark font-weight-bold">Nº de entradas:</label>
                                        <select class="form-control mb-2 mr-sm-2 mb-sm-0" onchange="window.location.href = '{{path("listado_emp")}}/' +     {{num_pag}} +'/' + $(this).val();">
                                            <option value="5" {% if per_pag == 5%}selected="selected"{% endif %}>5</option>
                                            <option value="10" {% if per_pag == 10%}selected="selected"{% endif %}>10</option>
                                            <option value="15" {% if per_pag == 15%}selected="selected"{% endif %}>15</option>
                                            <option value="20" {% if per_pag == 20%}selected="selected"{% endif %}>20</option>
                                        </select> 
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if usuarios|length == 0 %}
                        <tr>
                            <td>No hay registros actualmente</td>
                        </tr>
                    {% else %}
                        {% for empresa in usuarios %}
                            <tr>
                                <th scope="row" style="width: 165px;">{{empresa.cif}}</th>
                                <td style="text-align: left;width: 385px;"><a class="text-info" href="{{path("ficha_emp")}}/{{empresa.cif}}">{{ empresa.nombre }}</a></td>
                                <td style="width: 100px;"><img src="{{ asset('img/data/default_empr.png')}}" style="width: 32px;height: 32px;"> <button onclick="$('#{{empresa.cif}}').toggle();"><i class="fas fa-angle-down"></i></button></td>
                            </tr>
                            <tr id="{{empresa.cif}}" style="display: none;" class="table-light">
                                <td colspan="3" class="text-left table-light" style="color: black;">Tlf: {{empresa.tlf}}<br>Mail: <a class="link" href="mailto:{{empresa.mail}}" style="color: blue;">{{empresa.mail}}</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    <tr class="table-active">
                        <td colspan="3">
                            <div style="width: 100%;">
                                <span style="margin:auto; display:table;">
                                    <div class="form-group form-inline">
                                        <a href="{{path("listado_emp")}}/1/{{per_pag}}">
                                            <button><i class="fas fa-angle-double-left"></i></button>
                                        </a>

                                        {% set num_menor = num_pag - 1 %}
                                        {%if num_menor >= 1%}
                                            <a href="{{path("listado_emp")}}/{{num_menor}}/{{per_pag}}">
                                                <button><i class="fas fa-angle-left"></i></button>
                                            </a>
                                        {%else%}
                                            <a href="{{path("listado_emp")}}/1/{{per_pag}}">
                                                <button><i class="fas fa-angle-left"></i></button>
                                            </a>
                                        {%endif%}

                                        &nbsp;<div class="input-group">
                                            <input id="input_pag" class="form-control text-center" type="text" size="1" value="{{num_pag}}">
                                            <div class="input-group-append">
                                                <span class="input-group-text">de&nbsp;<strong>{{pageCount}}</strong></span>
                                            </div>
                                        </div>&nbsp;

                                        {% set num_mayor = num_pag + 1 %}
                                        {%if num_mayor <= pageCount%}
                                            <a href="{{path("listado_emp")}}/{{num_mayor}}/{{per_pag}}">
                                                <button><i class="fas fa-angle-right"></i></button>
                                            </a>
                                        {%else%}
                                            <a href="{{path("listado_emp")}}/{{pageCount}}/{{per_pag}}">
                                                <button><i class="fas fa-angle-right"></i></button>
                                            </a>
                                        {%endif%}

                                        <a href="{{path("listado_emp")}}/{{pageCount}}/{{per_pag}}">
                                            <button><i class="fas fa-angle-double-right"></i></button>
                                        </a>
                                    </div>
                                    <button onclick="window.location.href = '{{path("listado_emp")}}/' + $('#input_pag').val() + '/{{per_pag}}';">Ir a pag <i class="far fa-arrow-alt-circle-right"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}