<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %} Fct Symfony 3.0 {% endblock %}
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel='shortcut icon' type='image/x-icon' href='{{ asset('img/resources/favicon.ico') }}' />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <a class="navbar-brand" href="{{path("fct_homepage")}}" style="font-size:26px;"><i class="fas fa-home"></i> Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-size:20px;">
                        {% block menu %}
                            {% if app.user != null %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path("perfil")}}/{{app.user.nif}}" style="color: white;">
                                        <i class="far fa-address-book"></i> Perfil<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <span style="font-size:20px;">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-book"></i> Profesores
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                            <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="fas fa-list"></i> Listado </a>
                                        </div>
                                    </span>
                                </li>
                                <li class="nav-item dropdown">
                                    <span style="font-size:20px;">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-child"></i> Alumnos
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                            <a class="dropdown-item" href="{{path("listado_alum")}}"><i class="fas fa-list"></i> Listado </a>
                                            {% if app.user.role != 'ROLE_USER' %}
                                                <a class="dropdown-item" href="{{path("reg_alum")}}"><i class="far fa-plus-square"></i> Agregar </a>
                                            {% endif %}
                                        </div>
                                    </span>
                                </li>
                                <li class="nav-item dropdown">
                                    <span style="font-size:20px;">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-briefcase"></i> Empresas
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                            <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="fas fa-list"></i> Listado </a>
                                            {% if app.user.role != 'ROLE_USER' %}
                                                <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="far fa-plus-square"></i> Agregar </a>
                                            {% endif %}
                                        </div>
                                    </span>
                                </li>
                                <li class="nav-item dropdown">
                                    <span style="font-size:20px;">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-sync"></i> Ciclos
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                            <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="fas fa-list"></i> Listado </a>
                                            {% if app.user.role != 'ROLE_USER' %}
                                                <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="far fa-plus-square"></i> Agregar </a>
                                            {% endif %}
                                        </div>
                                    </span>
                                </li>
                                <li class="nav-item dropdown">
                                    <span style="font-size:20px;">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-building"></i> Fct
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                            <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="fas fa-list"></i> Listado </a>
                                            {% if app.user.role != 'ROLE_USER' %}
                                                <a class="dropdown-item" href="{{path("listado_prof")}}"><i class="far fa-plus-square"></i> Agregar </a>
                                            {% endif %}
                                        </div>
                                    </span>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li>
                            <a class="nav-link" href="#">
                                {% if app.user != null %}
                                    Bienvenido, {{app.user.nombre}} {{app.user.ape1}}
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <span style="font-size:20px;">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="font-size:20px;">
                                    {% if app.user != null %}
                                        <a class="dropdown-item" href="#"><i class="far fa-question-circle"></i> Ayuda </a>
                                        {% if app.user.role == 'ROLE_SUPER_ADMIN' %}
                                            <a class="dropdown-item" href="{{path("panel_maestro")}}"><i class="fas fa-desktop"></i> Panel de Administración </a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{path("logout")}}"><i class="far fa-times-circle"></i> Salir</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{path("login")}}"><i class="fas fa-sign-in-alt"></i> Entrar</a>
                                        <a class="dropdown-item" href="{{path("registro")}}"><i class="far fa-plus-square"></i> Registrarse </a>
                                        <a class="dropdown-item" href="#"><i class="far fa-question-circle"></i> Ayuda </a>
                                    {% endif %}
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="content">
            {% block content %} Contenido por defecto {% endblock %}
        </section>
        <footer class="text-center">
            <hr/>
            Practica Fct - Symfony 3.0
        </footer>
    </body>
</html>